@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work sans';
}

body {
    
    
}

.menu-btn {
    padding: 10px;
    background: #1c00b5;
    display: none;
    cursor: pointer;
}

.mainContainer {
    width: 80%;
    margin: 0 auto;
}

.menuContainer {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    align-items: center;
}

.menulast {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menulast a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    position: relative;
    padding: 10px;
    border-radius: 8px;
}

.menulast a::before {
    content: '';
    width: 100%;
    height: 0px;
    background: #0077C0;
    position: absolute;
    z-index: -2;
    left: 0;
    top: -0px;
    overflow: hidden;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: height 0.5s;
}

.menulast a:hover::before {
    height: 46px;
    font-size: 18px;
    background: #0077C0;
}



.menulast a:hover {
    padding: 10px 3px;
    color: #FFFFFF;
    box-shadow: 0px 10px 10px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
}

.navContainer {
    display: flex;
    justify-content: space-between;
    background: url(1.png);
    background-size: cover;
    background-position: center;
    height: 95vh;
    align-items: center;
}

.navFirst {
    width: 50%;
    height: 65%;
}

.navFirst h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 125%;
    color: #000000;
}

.navFirst p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    margin-bottom: 20px;
}

.navFirst a {
    padding: 10px 24px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    background: #0077C0;
    line-height: 40px;
}


.secondContainer {
    display: flex;
    justify-content: space-between;
    margin: 70px 0;
    background: #FFFFFF;
}

.thirdContainer {
    background: #0077C0;
    padding: 60px 0;
}

.mainThird {
    width: 80%;
    margin: 0 auto;
}

.thirdInner {
    display: flex;
}

.thirdHeader {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.innerHeader {
    text-align: center;
}

.innerHeader h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FAFAFA;
    margin-bottom: 20px;
}

.innerHeader h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    color: #FFFFFF;
}

.thirdInner {
    display: flex;
    justify-content: space-between;
}

.thirdInner .inner {
    width: 32%;
}

.thirdInner .inner h4 {
    margin-top: 40px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FAFAFA;
    margin-bottom: 20px;
}

.thirdInner .inner p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
}

.fourContainer {
    background: #FFFFFF;
    margin: 60px 0;
}

.mainFour {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.fourSecond h4 {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    color: #000000;
}


.fourSecond .fourInner .inner1 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.fourSecond .fourInner .inner1 img {
    margin-right: 15px;
}

.fourSecond {
    width: 50%;
    display: flex;
    align-items: center;
}

.fiveContainer {
    background: #C7EEFF;
}

.mainFive {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.mainFive .fiveFirst {
    width: 50%;
    display: flex;
    align-items: center;
}

.mainFive .fiveFirst h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    color: #000000;
    margin-bottom: 20px;
}


.mainFive .fiveFirst p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 30px;
}

.mainFive .fiveFirst a {
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    color: #FFFFFF;
    background: #0077C0;
    border-radius: 10px;
    padding: 10px 18px;
    text-decoration: none;
}

.fiveSecond .fiveInner2 h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-top: 15px;
}

.fiveSecond .fiveInner2 .fiveStar span {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

.fiveSecond {
    position: relative;
}

.fiveSecond .fiveInner2 .fiveStar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fiveSecond .fiveInner2 {
    position: absolute;
    bottom: 175px;
    width: 24%;
    text-align: center;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
}

.sixContainer {
    background: #FAFAFA;
    padding: 60px 0;
}

.sixHeader {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 50px 0;
}

.sixHeaderInner h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #0077C0;
    margin-bottom: 30px;
}


.sixHeaderInner h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    color: #000000;
}

.sixInner {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.sixInner .sixInner1 {
    width: 28%;
    height: 182px;
    background: #FFFFFF;
    margin-bottom: 30px;
    padding: 20px;
}

.sixInner .sixInner2 {
    width: 28%;
    height: 140px;
    background: #FFFFFF;
    margin-bottom: 30px;
    padding: 20px;
}

.sixInner .sixInner3 {
    width: 28%;
    height: 185px;
    background: #FFFFFF;
    margin-bottom: 30px;
    padding: 20px;
}

.sixInner .sixInner4 {
    width: 28%;
    height: 172px;
    background: #FFFFFF;
    margin-bottom: 30px;
    padding: 20px;
}

.sixInner .sixInner5 {
    width: 28%;
    height: 223px;
    background: #FFFFFF;
    margin-bottom: 30px;
    padding: 20px;
    position: absolute;
    left: 418px;
    bottom: 0;
}

.sixInner .sixInner6 {
    width: 28%;
    height: 172px;
    background: #FFFFFF;
    padding: 20px;
}

.nav-six {
    display: flex;
    align-items: center;
}

.nav-six .sixLogo {
    margin-right: 20px;
}

.nav-six p {
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #000000;
}

.nav-six span {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.star img {
    margin-right: 5px;
}

.sixInner {
    position: relative;
}

.sevenContainer {
    background: #FFFFFF;
    margin: 40px 0;
}

.mainSeven {
    width: 80%;
    margin: 0 auto;
    background: #0077C0;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.mainSeven .firstSeven {
    width: 40%;
}

.mainSeven .lastSeven {
    width: 50%;
}

.lastSeven {
    display: flex;
    align-items: center;
}

.lastSeven .lastInner  h4{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 3px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.lastSeven .lastInner  h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    color: #FFFFFF;
    margin-bottom: 30px;

}

.lastSeven .lastInner a {
    padding: 10px 18px;
    gap: 16px;
    background: #FFFFFF;
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    color: #0071D9;
    text-decoration: none;
}

.eightContainer {
    background: #1D242B;
    padding: 50px 0;
}

.mainEight {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.mainEight .eightFirst {
    width: 30%;
}

.mainEight .eightFirst .logo {
    margin-bottom: 30px;
}

.mainEight .eightFirst p {
    margin-top: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #D9DBE1;
}

.mainEight .eightSecond {
    width: 40%;
    display: flex;
}

.mainEight .eightSecond .eightSecondInner {
    width: 50%;
    display: flex;
    justify-content: center;
}

.mainEight .eightSecond .eightSecondInner h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.mainEight .eightSecond .eightSecondInner p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #D9DBE1;
}

.mainEight .eightThird {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.mainEight .eightThird h4 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.mainEight .eightThird .input {
    width: 94%;
    display: flex;
    background: rgb(91, 88, 88);
    border-radius: 8px;
    padding: 10px 10px;
}

.mainEight .eightThird .input input {
    width: 90%;
    font-weight: 400;
    font-size: 14px;
    background: rgb(91, 88, 88);
    color: #FFFFFF;
    border: 0;
    outline: none;
}

input::placeholder {
    color:#fff;
}

@media (max-width:780px) {
    .menulast {
        position: absolute;
        top: 0px;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #d0d0e7;
        margin-left: -900px;
        transition: all 0.5s;
    }

    .menulast a {
        margin: 30px auto;
    }

    .mobile-menu{
        margin-left: 0px;
    }

    .menu-btn {
        display: block;
        position: absolute;
        right: 0;
        border-radius: 8px;
    }

    .mainContainer {
        width: 100%;
    }

    .menuContainer .fast {
        z-index: 2;
    }

    .navContainer {
        background: none;
        height: 100%;
    }

    .navContainer .navFirst {
        width: 100%;
        text-align: center;
    }

    .navContainer .navFirst h1 {
        font-size: 40px;
    }

    .navContainer .navFirst p br {
        display: none;
    }

    .secondContainer  {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }

    .secondContainer img {
        width: 60%;
        margin-bottom: 50px;
    }

    .thirdHeader .innerHeader {
        width: 100%;
        
    }

    .thirdHeader .innerHeader h1  {
        
        font-size: 39px;
    }

    .mainThird {
        width: 100%;
    }

    .thirdInner {
        display: block;
    }

    .thirdInner .inner {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .mainFour {
        display: block;
        width: 100%;
    }

    .mainFour .fourFirst {
        width: 100%;
    }

    .mainFour .fourFirst img {
        width: 100%;
    }

    .mainFour .fourSecond {
        width: 100%;
        margin-top: 40px;
    }

    .mainFour .fourSecond .fourInner h4 {
        text-align: center;
        margin-bottom: 30px;
        font-size: 35px;
    }

    .mainFour .fourSecond .fourInner .inner1 {
        width: 90%;
        margin: 0 auto;
    }

    .mainFive {
        width: 100%;
    }

    .mainFive .fiveSecond {
        display: none;
    }

    .mainFive .fiveFirst {
        width: 100%;
        text-align: center;
    }

    .mainFive .fiveFirst h1 {
        font-size: 34px;
    }

    .sixHeaderInner h1 {
        font-size: 34px;
    }

    .sixHeaderInner h1 br {
        display: none;
    }

    .sixInner {
        width: 100%;
    }

    .sixInner .sixInner1 {
        width: 100%;
        text-align: center;
    }

    .sixInner .sixInner2 {
        width: 100%;
        text-align: center;
    }

    .sixInner .sixInner3 {
        width: 100%;
        text-align: center;
    }

    .sixInner .sixInner4 {
        width: 100%;
        text-align: center;
    }

    .sixInner .sixInner5 {
        position: relative;
        left: 0;
        width: 100%;
        text-align: center;
    }

    .sixInner .sixInner6 {
        width: 100%;
        text-align: center;
    }

    .nav-six {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }

    .sixInner .sixInner1 p br {
        display: none;
    }

    .sixInner .sixInner2 p br {
        display: none;
    }

    .sixInner .sixInner3 p br {
        display: none;
    }

    .sixInner .sixInner4 p br {
        display: none;
    }

    .sixInner .sixInner5 p br {
        display: none;
    }

    .sixInner .sixInner6 p br {
        display: none;
    }

    .mainSeven {
        width: 100%;
    }

    .mainSeven .firstSeven {
        display: none;
    }

    .mainSeven .lastSeven {
        width: 100%;
        text-align: center;
    }

    .lastSeven .lastInner  h1 {
        font-size: 35px;
    }

    .lastSeven {
        padding: 30px 0;
    }

    .mainEight {
        width: 100%;
        display: block;
    }

    .mainEight .eightFirst {
        width: 100%;
        margin-bottom: 50px;
        text-align: center;
    }

    .mainEight .eightSecond {
        width: 100%;
        margin-bottom: 50px;
    }

    .mainEight .eightSecond .eightSecondInner {
        text-align: center;
    }

    .mainEight .eightThird {
        width: 100%;
        display: flex;
        justify-content: center;
    }


}